.home{
    background-image: linear-gradient(rgba(0, 0, 0, 0.52), rgba(0, 0, 0, 0.73)),url('../Resources/Image/Rectangle\ 1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width:100%;
    height: 700px;
    margin-top: -20px;
}

.home__content {
    padding: 15% 0 0 0;
    color: white;
    text-align: left;
  }

  .home__content > h1 {
    font-size: 5rem;
  }

  .home__btn{
    padding: 10px 40px !important;
    font-size: 18px !important;
    font-weight: bold !important;
    background-color: #f9a51a !important;
    border: 1px solid #f9a51a !important;
  }
  .home__icon{
    font-size: 40px !important;
    margin: 10px !important;
    transition: .5s !important;

  }


  .home__btn:hover .home__icon{
    transform: rotate(-180deg);
    color: white !important;
}

.home__btn:hover {
    background-color: transparent !important;
    color: white !important;
    border: 1px solid white !important;
    /* outline : 1;
    outline-color: coral; */
}