img.img-fluid {
    height: 40px;
    filter: brightness(0) invert(1);
}

li.nav-item.active {
    padding: 10px;
}

form.form-inline.my-2.my-lg-0 {
    padding: 0px 50px;
}

input.form-control.mr-sm-2 {
    padding: 0px 70px 0px 40px;
    margin : -10px;
}

svg.MuiSvgIcon-root.navbar__icon {
    position: absolute;
}


.navbar__active {
    background-color :#F9A51A;
    color: white !important;
    font-weight : bold;
    border-radius: 15px;
}
.navbar__text{
    color: white !important;
}

.navbar__activeHover{
    font-weight: bold;
    transition: 300ms;
    margin-right: 10px;
}
.navbar__textHover{
    color: white !important;
}
.navbar__textHover:hover {
    color: black !important;
}


.navbar__activeHover:hover {
    background-color :#F9A51A ;
    font-weight : bold;
    border-radius: 15px;
}