.deliveryDetails {
    padding : 50px 0px;
}

.login__inputBtn {
    padding: 20px 35%;
    background-color: #F9A51A;
    border: none;
    outline: none;
    margin-bottom: 30px;
}

.login__inputBtn:hover{
    background-color: #F9A51A;

}
.login__inputBtn:focus{
    background-color: #F9A51A;
    outline: none;
    box-shadow: none;
}
.__login{
    border: 1px solid black;
    padding: 50px;
}

.login__input:focus{
    border-color: none !important;

}
.login__input {
    height: 65px;
    background-color:#fff !important;
    border: none;
    outline : none;
}

.login__input::placeholder{
    color: #000 !important;
}

.login__input {
    background-color: #fff !important;
    border-bottom: 1px solid black !important;
    
}

.__login input.form-control:focus{
    box-shadow: none !important;
}