@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,600&display=swap');

.app {
  text-align: center;
  overflow: hidden !important;
}

* {
  outline: none;
  font-family: 'Josefin Sans', sans-serif;
}

button:focus {
  outline: 0;
}
